<th:block th:fragment="header">
    <div class="header-container">
        <div class="header-content">
            <div class="logo">
                <a class="fill-div"
                   th:hx-get="@{/home}"
                    hx-push-url="true"
                    hx-target="body"
                    hx-swap="outerHTML">
                    <h1>RecipeFinder</h1>
                </a>
            </div>
            <div class="search-container">
                <div style="display:  flex; height: 100%">
                    <form class="search-form">
                        <input type="search"
                               id="searchInput"
                               autocomplete="off"
                               placeholder="Browse your favorite recipes..."
                               name="query"
                               th:hx-post="@{/recipes/searchResults}"
                               hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
                               hx-target="#search-results"/>
                        <button id="showSearch"
                                hx-get="/recipes/search"
                                hx-include="#searchInput"
                                hx-target="body"
                                hx-push-url="true">
                            <ion-icon name="search-outline"></ion-icon>
                        </button>
                    </form>
                </div>
            </div>
            <div class="scroll-menu">
                <button id="showMenu"
                        th:hx-get="@{/header/menu}"
                        hx-trigger="click"
                        hx-target="#menuWrapper"
                        hx-swap="innerHTML">
                    <ion-icon name="grid-outline"></ion-icon>
                </button>
            </div>
        </div>
    </div>
    <div id="menuWrapper">
    </div>
    <div id="search-results"></div>
    <script src="/js/component_visibility.js"></script>
</th:block>