<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Recipefinder </title>
</head>
<body>

<th:block th:replace="~{fragments/header}"></th:block>


<div>
    <div id="recipeList"
         hx-get="/recipes"
         hx-trigger="load"
         hx-swap="outerHTML">
        <th:block th:replace="~{fragments/recipe_list :: recipeList}"></th:block>
    </div>
</div>

<script src="/js/htmx.min.js"></script>
</body>
</html> 