<!DOCTYPE html>
<html hx-debug="true" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title th:text="${recipe.title}"></title>

    <script src="/js/htmx.min.js"></script>
</head>
<body>

<th:block th:replace="~{fragments/header}"></th:block>

<div class="content-container">
  <div class="details-container">
    <div class="image-container">
      <img th:src="@{/images/recipes/{image}(image=${recipe.image})}" alt="logo"/>
    </div>
    <div class="recipe-text-container">
        <div>
          <h1 th:text="${recipe.title}"></h1>
        </div>
        <div>
          <h3 th:text="${recipe.description}"></h3>
        </div>
        <div>
          <p th:text="|Submitted by ${recipe.author}|"></p>
        </div>
        <div>
            <form th:hx-post="@{/recipes/details/{id}(id=${recipe.id})/calculateServings}"
                  hx-trigger="change, insert delay:300ms"
                  hx-target="#ingredientList"
                  hx-swap="outerHTML">
                <div class="servings">
                    <label>Servings
                    <input type="number" name="servings" th:value="${recipe.servings}" th:min="1"/>
                    </label>
                </div>
                <h3 class="low-bottom-margin">Ingredients</h3>
                <table id="ingredientList" >
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr th:each="ingredient : ${ingredients}">
                        <td th:text="${ingredient.amount}" class="amount"></td>
                        <td th:text="${ingredient.unit}"></td>
                        <td th:text="${ingredient.ingredient.name}"></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="instructions">
          <h3>Instructions</h3>
          <p th:text="${recipe.instructions}"></p>
        </div>
    </div>

  </div>
</div>




</body>
</html>