<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title th:text="${recipe.title}"></title>
    <script src="https://unpkg.com/htmx.org@2.0.4"
          integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
          crossorigin="anonymous"></script>
</head>
<body>

<div class="content-container">
  <div class="details-container">
    <div class="image-container">
      <img th:src="@{/images/recipes/{image}(image=${recipe.image})}" alt="logo"/>
    </div>
    <div class="recipe-text-container">
        <div>
          <h1 th:text="${recipe.title}"></h1>
        </div>
        <div>
          <h3 th:text="${recipe.description}"></h3>
        </div>
        <div>
          <p th:text="|Submitted by ${recipe.author}|"></p>
        </div>
        <div>
          <form hx-post="@{/recipes/calculateAmount}"
                hx-trigger="input from:.calc-field delay:300ms"
                hx-target=".amount"
                hx-swap="innerHTML">
            <div class="servings">
              <label>Servings</label>
              <input type="number" name="servings" class="calc-field" th:value="${recipe.servings}" th:min="1"/>
            </div>
            <h3 class="low-bottom-margin">Ingredients</h3>
            <table>
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
              <tr th:each="ingredient : ${recipe.ingredients}">
                <td th:id="'amount-' + ${ingredient.id}" th:text="${ingredient.amount}" class="amount" ></td>
                <td th:text="${ingredient.unit}"></td>
                <td th:text="${ingredient.ingredient.name}"></td>
              </tr>
            </table>
          </form>
        </div>
        <div class="instructions">
          <h3>Instructions</h3>
          <p th:text="${recipe.instructions}"></p>
        </div>
    </div>

  </div>
</div>

</body>
</html>