<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${tag}"></title>
</head>
<body>

<th:block th:replace="~{fragments/header}"></th:block>


<div class="center">
    <div style="display: flex;">
        <h1 th:text="|Results for&nbsp|"></h1>
        <h1 style="font-style: italic;" th:text="${tag}"></h1>
    </div>
    <div id="recipeList"
         th:hx-post="@{/recipes/{type}/{concrete}(type='tag', concrete=${tag})}"
         hx-trigger="load"
         hx-swap="outerHTML">
        <th:block th:replace="~{fragments/recipe_list :: recipeList}"></th:block>
    </div>
</div>

<script src="/js/htmx.min.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>